 body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
	
    background-image: url(DWork/1.jpg);
    background-size: cover;
    background-position: center;
    
}
.btncss {
		 border-radius:10px;
		 background-color:green;
		 color:white;
		 height:30px;
		 width:70px;		
		}

.btn1 {	
		 height:30px;
		 width:100px;	
         float:right;		 
		}
#formarticle,#formSA{
        width: 600px;
        border: 1px solid #CCCCCC;
        background-color: #FFFFFF;        
        margin: 10px;
    }

#typePaper {
        width: 620px;
        border: 1px solid #CCCCCC;
        background-color: #FFFFFF;
        margin: auto;
        margin-top: 10px;
        padding: 20px;
}		
#settingsP{
        width: 600px;
        border: 1px solid #CCCCCC;
        background-color: #FFFFFF;
        margin: auto;
        margin-top: 10px;
        padding: 20px;
    }
#passwordEdit, #emailEdit,#favoris{
        width: 250px;
		height: 250px;
        border: 1px solid #CCCCCC;
        background-color: #FFFFFF;
        margin: auto;
        margin-top: 10px;
        padding: 20px;
    }		

			
#upload_items{
        width:550px;		      
        background-color: #FFFFFF;
        
    }	

#personalP,#searchResult{
        width: 90%;
		height:100%;      
        background-color: #FFFFFF;
        margin: auto;
		 border: 1px solid #CCCCCC;
        margin-top: 10px;
        padding: 20px;
    }
	
#idCriterion{
	           position:absolute;
				height: 100px;
				width: 300px; 
				left: 70%;
				top: 70%;					
				border: 1px solid grey;
				background-color: #d3d3d3;
				border-radius: 5px  5px  5px 5px;				
				display: none;
				 z-index: 12;		
		
}

#idReference{
	           position:absolute;
				height: 200px;
				width: 300px; 
				left: 70%;
				top: 70%;					
				border: 1px solid grey;
				background-color: #d3d3d3;
				border-radius: 5px  5px  5px 5px;				
				display: none;
				 z-index: 12;		
		
}

.btnsw {
  height: 30px;
 
}
	
.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid grey;
  padding: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  color: black;
}


.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 30px;
  border: 1px solid black;
  margin-top:5px;
  text-align: center;
  
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width:60%;
  height:70px;
  position: absolute; 
  left: 50%;
  transform: translate(-50%, -50%);
}

/* expansion panel CSS starts from here ---------------------------------
------------------------------------------------------ */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 17px;
  transition: 0.4s;
  font-weight:bold;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 2px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-top:5px;
}
