<html>
 <head>
 <title>Add State of Art</title>
 <!--script type="text/javascript" src="vue.js"></script-->
	 <link href="../style/main_css.css" rel="stylesheet" type="text/css">
	 <link href="../style/listderoulante.css" rel="stylesheet" type="text/css">
	 <link href="../search/StaticSearchHistory.css" rel="stylesheet">
 
 </head>
 <body>
 
  <ul id="menu-accordeon" style="float:right; margin-right:10px;">
	  <li><a href="../sign/signin.html">Sign in</a>
				<ul>
					<li><a href="../sign/signup.html"><img src="../assets/login.png" width="30px"></a></li>
					<li><a href="../personal_page.html"><img src="../settings/settings.png" width="30px"></a></li>
					<li><a href="addetatdelart.html"><img src="../assets/plus.png" width="30px"></a></li>
         
				</ul>
			</li>
		</ul>
  
      <div class="topnav">

		  <a class="active" href="../search/StaticSearchPage.html">Home</a>
		  <img alt="Logo ReSearch" src="../assets/LogoSiteWebMDL.png" style="width: 50px"/>
        </div> 
   			
					
 <div id="typePaper" >
    <h3 style="color:red; text-align:center">Add New State of art</h3>
	
	<div id="formSA" style="">   
	
      <form name="stateofart">	
	  
		
		 <table cellspacing="10"> 		 
			  <tr>
				<td><label>Titre:</label> </td> <td colspan="2"><textarea  rows="3" cols="30" name="titre" v-model="titre" placeholder="article titre " /></textarea> </td>
			 </tr>
			 <tr>
				<td><label>Auteur(s):</label> </td> <td colspan="2"><textarea  rows="3" cols="30" name="auteur" v-model="auteur" placeholder="author(s) name (s)" /></textarea> </td>
			 </tr>
			 <tr>		
					<td>Published?</td><td colspan="2"><input type="radio" name="publish" value="Published" >Published
					<input type="radio" name="publish" value="not-published" >Not published</td>
			</tr>
			<tr>
				<td><label>Article area:</label> </td> <td colspan="2"><textarea  rows="3" cols="30" name="article_area" placeholder="Areas of the articles" /></textarea> </td>
			 </tr>			
			 <tr>
				<td><label>Details:</label> </td> <td colspan="2"><textarea  rows="3" cols="30" name="detail_publish"  placeholder="details" /></textarea> </td>
			 </tr>
			<tr>
				<td><label>Abstract:</label> </td> <td colspan="2"><textarea  rows="5" cols="50" name="abstract"  placeholder="Abstract" /></textarea> </td>
			 </tr>
			 <tr>
			   <td colspan="3">
		       <table>
			 		 <tr><td>Add contribution:</td><td><input type="radio" name="contribution" value="Yes" checked> Yes</td></tr>
					 <tr><td> </td><td><input type="radio" name="contribution" value="No"> No</td></tr>
					 <tr><td> </td><td><input type="radio" name="contribution" value="NA"> Under my supervision</td></tr>
				</table>
				</td>
		     </tr>
		
			 <tr>
				<td><label>References:</label> </td>
						<td width="100%">
							<table border="1" id ="tableauRef">
						     
							  
							  
						
						   </table>
						</td>
				<td>				
			
			<input type="button" name="addcreterion" class="btn1" value="Add Criterion" onclick="javascript:openFormC();" ><br/><br/>
					<input type="button" name="addreference" class="btn1" value="Add Reference" onclick="javascript:openFormRef();" >
								
		
				</td>
				<!--form to add criterion -->
					<div id="idCriterion" style="display:none;"> 							
							<h3 style="color:green;">Add criterion	<input type="button" name="" style="float:right; margin-right:2px;" value="Close" onclick="javascript:closeFormC()";></h3>
								<label>Criterion:</label><input type="text" id="criterion" name="criterionName" size="20" placeholder="Criterion" /> 
								<input type="button" name="" onclick="javascript:addCriterion();" value="Add" >							
					</div>	
				<!--form to add references -->
					<div id="idReference" style="display:none;"> 							
							<h3 style="color:green;">Add Reference	<input type="button" name="" style="float:right; margin-right:2px;" value="Close" onclick="javascript:closeFormRef()";></h3>
								<label>Reference:</label><input type="text" id="reference" name="reference" size="30" placeholder="Reference" />
								<input type="button" name="" onclick="javascript:addRef();" value="Add" >	
								<br/>								
					</div>	
					
			 </tr>
			 <tr> 
				<td><label>PDF file:</label> </td> <td colspan="2"><input type="file" name="pdffile" value="Attach"  /> </td>
			 </tr>
			 <tr> 
				<td><label>Video URL:</label> </td> <td colspan="2"><input type="text" name="urlvideo" size="40" placeholder="url video youtube" /> </td>
			 </tr>
		</table>
        
		<br/>
        <button class="btncss" type="button" v-on:click="add_article()" style="margin-left:400px;">Add Item</button>
		
	
	</form>
  </div>
  
<script>
	var nbre=0,nbreRef,cpt=0, cptRef=0;
	var criterion="",reference="";
	var theCreterion=[];
	var theRef=[];
	
	var valtab="<tr><th>State of art</th>";   
	var tabRef=document.getElementById("tableauRef");
	
	
	function displayArticleForm(){
	    document.getElementById("formSA").style.display="none";
		document.getElementById("formarticle").style.display="block";
	}
	
	function displaySAForm(){
		document.getElementById("formarticle").style.display="none";
		document.getElementById("formSA").style.display="block";
	}
	
	function closeFormC(){
		document.getElementById("idCriterion").style.display="none";
	}
	function openFormC(){
	     if(cpt==0) {
				
					nbre=prompt("Enter the Number of Criterions (Number > 0)");
					
			 }
		 document.getElementById("idCriterion").style.display="block";
	}
	
	function openFormRef(){
	if(cpt==0)alert("You must add criterions first");
		else{
		     if(cptRef==0) nbreRef=prompt("Number of References");
			document.getElementById("idReference").style.display="block";
		}
	}
	function closeFormRef(){
		document.getElementById("idReference").style.display="none";
	}
	
	function addCriterion(){	  
	
	   var criterion=document.getElementById("criterion").value;
	   if(criterion!=""){
	   theCreterion.push(criterion);
	    valtab+= "<th>"+criterion+"</th>";
		cpt=cpt+1;		
		if(cpt==nbre){
			valtab+="</tr>";
			document.getElementById("idCriterion").style.display="none";
		}
		document.getElementById("criterion").value="";
		//tabRef.innerHTML+=valtab;
	  }
	  else{
			alert("The criterion must not be null");
	  }
	}
	function addRef(){	    
			var ref=document.getElementById("reference").value;
		 if(ref!=""){
			theRef.push(ref);
		     valtab+= "<tr><td>"+ref+"</td>";
			cptRef=cptRef+1;			
			for(i=0;i<nbre;i++) valtab+="<td align='center'><input type='checkbox' name='checkcriterion'></td>";
			valtab+="</tr>";
			tabRef.innerHTML=valtab;
			if(cptRef==nbreRef){					
					document.getElementById("idReference").style.display="none";
				}
				document.getElementById("reference").value="";
					
		} 
		else{
			alert("The reference must not be null");
	   }
		
	}
	
	

</script>
	
	</body>
</html>